{{ "<div>
      <p>
        Hello <br>
        <strong>foo</strong>
      </p>
      <hr>
    </div>
    "|striptags('<br><p>') }}

{{ "<div>
      <p>
        Hello <br>
        <strong>foo</strong>
      </p>
      <hr>
    </div>
    "|striptags }}
