<div class="page">

  <header>
    {% block header %}
      <h1>Default page header</h1>
    {% endblock %}
  </header>{{ header }}

  <main id="main">
    {% block content %}
      Default content
    {% endblock %}
  </main>

  <footer>
    {% block footer %}
      Default footer
    {% endblock %}
  </footer>

</div>
