
{% extends '@fractal/tests/templates/page.twig' %}

{% block header %}
  <h1>Hello there!</h1>
{% endblock header %}

{% block footer %}
  <small>Copyright {{ "now"|date('Y') }}</small>
{% endblock footer %}
